* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #404756;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 10px;
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}

/********************************BLOCKS******************************************/
.button {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #f7859c;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #ff597a;
}

.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
  text-align: center;
}

.title-block__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
  position: relative;
}

.title-block__text svg {
  position: absolute;
  top: -10px;
  left: -17px;
  z-index: -1;
}

.title-block__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 65px;
  line-height: 58px;
}

/********************************HEADER--MENU******************************************/
.header {
  background-image: url(../img/header/big-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  z-index: 100;
  padding: 15px 0px;
}

.header__burger {
  display: none;
}

.header__body {
  padding-top: 80px;
  text-align: center;
  min-height: 100vh;
}

.header__title-block {
  margin-bottom: 45px;
}

.header__title-block h1 {
  font-size: 97px;
  line-height: 87px;
}

.header__text {
  max-width: 430px;
  margin: 0 auto;
}

.header__button {
  margin-top: 30px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 30px;
}

.menu__link {
  font-weight: 700;
  color: #222222;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.menu__link:hover {
  color: #f7859c;
}

@media (max-width: 1023px) {
  .header {
    background-image: url(../img/header/small-bg.svg);
    background-repeat: no-repeat;
    background-position: top;
  }
}

@media (max-width: 767.98px) {
  .header {
    background-size: 600px 600px;
  }
  .header__burger {
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 150;
    cursor: pointer;
  }
  .header__burger::after, .header__burger::before,
  .header__burger span {
    content: "";
    background-color: #222222;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 11px;
  }
  .header__burger.open::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 11px;
  }
  .header__burger.open::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 11px;
  }
  .header__burger.open span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__body {
    padding-top: 30px;
  }
  .header__title-block {
    margin-bottom: 30px;
  }
  .header__title-block h1 {
    font-size: 70px;
    line-height: 70px;
  }
  .header__text {
    font-size: 16px;
  }
  .menu {
    position: fixed;
    top: -200%;
    left: 0;
    z-index: 125;
    height: 100%;
    width: 100%;
    background-color: #ffdbb4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 100px 0px 20px;
    overflow: auto;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
  }
  .menu.open {
    top: 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__item {
    margin: 0px 0px 45px;
  }
  .menu__link {
    font-size: 30px;
  }
  body.lock {
    overflow: hidden;
  }
}
/*# sourceMappingURL=style.css.map */