@import "_nullstyle";

$text-color: #404756;
$title-color: #222222;
$button-color: #f7859c;

body {
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   color: $text-color;
}

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main {
   flex: 1 1 auto;
}

.container {
   max-width: 1000px;
   margin: 0 auto;
   padding: 0px 10px;
}

/********************************BLOCKS******************************************/

.button {
   display: inline-block;
   padding: 10px 30px;
   font-weight: 700;
   color: #ffffff;
   background-color: $button-color;
   border-radius: 12px;
   transition: all 0.3s ease-in-out;

   &:hover {
      background-color: #ff597a;
   }
}

.title-block {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: $title-color;
   text-align: center;

   &__text {
      font-weight: 700;
      margin-bottom: 4px;
      position: relative;

      svg {
         position: absolute;
         top: -10px;
         left: -17px;
         z-index: -1;
      }
   }

   &__title {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 65px;
      line-height: 58px;

      @media (max-width: 767.98px) {
         font-size: 50px;
      }
   }
}

/********************************HEADER--MENU******************************************/

.header {
   padding-bottom: 203 / 800 * 100%;
   background-image: url(../img/header/big-bg.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      z-index: 100;
      padding: 15px 0px;
   }

   &__burger {
      display: none;
   }

   &__body {
      margin-top: 80px;
      text-align: center;
   }

   &__title-block {
      margin-bottom: 45px;

      h1 {
         font-size: 97px;
         line-height: 87px;
      }
   }

   &__text {
      max-width: 430px;
      margin: 0 auto;
   }

   &__button {
      margin-top: 30px;
   }
}

.menu {
   display: flex;
   align-items: center;

   &__list {
      display: flex;
   }

   &__item {
      margin-right: 30px;
   }

   &__link {
      font-weight: 700;
      color: $title-color;
      transition: color 0.3s ease;

      &:hover {
         color: $button-color;
      }
   }
}

@media (max-width: 1023px) {
   .header {
      background-image: url(../img/header/small-bg.svg);
      background-repeat: no-repeat;
      background-position: center;
   }
}

@media (max-width: 767.98px) {
   .header {
      background-size: 600px 600px;

      &__burger {
         display: block;
         width: 25px;
         height: 25px;
         position: relative;
         z-index: 150;
         cursor: pointer;

         &::after,
         &::before,
         span {
            content: "";
            background-color: $title-color;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            border-radius: 10px;
            transition: all 0.5s ease-in-out 0.1s;
         }

         &::before {
            top: 0;
         }

         &::after {
            bottom: 0;
         }

         span {
            top: 11px;
         }

         &.open {
            &::before {
               transform: rotate(45deg);
               top: 11px;
            }

            &::after {
               transform: rotate(-45deg);
               bottom: 11px;
            }

            span {
               transform: scale(0);
            }
         }
      }

      &__body {
         margin-top: 30px;
      }

      &__title-block {
         margin-bottom: 30px;

         h1 {
            font-size: 70px;
            line-height: 70px;
         }
      }

      &__text {
         font-size: 16px;
      }
   }

   .menu {
      position: fixed;
      top: -200%;
      left: 0;
      z-index: 125;
      height: 100%;
      width: 100%;
      background-color: #ffdbb4;
      flex-direction: column;
      text-align: center;
      padding: 100px 0px 20px;
      overflow: auto;
      transition: all 0.8s ease-out;

      &.open {
         top: 0;
      }

      &__list {
         flex-direction: column;
      }

      &__item {
         margin: 0px 0px 45px;
      }

      &__link {
         font-size: 30px;
      }
   }

   body.lock {
      overflow: hidden;
   }
}

/********************************COLLECTION******************************************/

.collection {
   padding-top: 80px;

   &__title-block {
      margin-bottom: 93px;
   }

   &__inner {
      display: flex;
   }

   &__column-left {
      margin-top: 52px;
      max-width: 375px;
   }

   &__text-block {
      padding-bottom: 32px;
      margin-bottom: 27px;
      &:not(:last-child) {
         border-bottom: 1px solid rgba(64, 71, 86, 0.6);
      }
   }

   &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;
      color: $title-color;
      margin-bottom: 17px;
   }

   &__text {
      max-width: 332px;
   }

   &__column-right {
      margin-right: 15px;
      max-width: 621px;
      transform: translateX(161px);
   }

   &__img {
      width: 100%;
   }
}

@media (max-width: 1150px) {
   .collection {
      &__column-right {
         transform: translateX(75px);
      }
   }
}

@media (max-width: 930px) {
   .collection {
      padding-top: 50px;

      &__column-right {
         transform: none;
         margin: 20px 0px 0px 20px;
      }
   }
}

@media (max-width: 767.98px) {
   .collection {
      &__title-block {
         margin-bottom: 45px;
      }

      &__inner {
         flex-direction: column-reverse;
         align-items: center;
         text-align: center;
      }

      &__text {
         font-size: 16px;
      }
   }
}
